#game-board {
    position: relative;
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

.snake {
    width: 2%;
    height: 2%;
    background-color: black;
    position: absolute;
}

.food {
    width: 2%;
    height: 2%;
    background-color: red;
    position: absolute;
}
